@font-face{
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
    
}

@font-face{
    font-family: 'Rammetto_One';
    src: url('../fonts/Rammetto_One/RammettoOne-Regular.ttf');
    
}